@font-face {
  font-family: Prompt;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(./fonts/prompt-light.woff2) format('woff2');
}

@font-face {
  font-family: Prompt;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/prompt-regular.woff2) format('woff2');
}

@font-face {
  font-family: Prompt;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./fonts/prompt-medium.woff2) format('woff2');
}

@font-face {
  font-family: Prompt;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./fonts/prompt-bold.woff2) format('woff2');
}
